/* Modo oscuro */

.root {
    -fx-background-color: #222222; /* Fondo oscuro */
}

/* Estilo básico para el ProgressBar de splash screen */
.loading-bar {
    -fx-background-color: transparent; /* Fondo transparente por defecto */
    -fx-pref-height: 10px;  /* Altura del ProgressBar */
    -fx-pref-width: 300px;  /* Ancho del ProgressBar */
}

/* Estilo del track */
.loading-bar .track {
    -fx-background-color: transparent; /* Fondo transparente por defecto */
    -fx-border-color: transparent;  /* Eliminar bordes del track */
    -fx-background-radius: 10px;  /* Bordes redondeados */
}

.loading-bar .bar {
    -fx-background-color: black;
}

/* Botones de icono */
.icon-button {
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-max-width: 20px;
    -fx-max-height: 20px;
    -fx-min-width: 20px; /* Asegura que el botón no se haga más pequeño que 20px */
    -fx-min-height: 20px;
    -fx-padding: 0; /* Elimina cualquier padding */
}

.icon-button:hover {
    -fx-cursor: hand; /* Cambia el cursor al pasar el ratón */
}

/* Estilo para los iconos */
.icon {
    -fx-fit-width: 15px; /* Asegura que la imagen se ajuste exactamente */
    -fx-fit-height: 15px;
    -fx-preserve-ratio: true; /* Mantiene la proporción de la imagen */
}

.button:hover {
    -fx-cursor: hand;
}

/* Estilo de los botones primarios */
.button.primary {
    -fx-background-color: #616161;
    -fx-text-fill: #111111;
    -fx-border-width: 1px;
    -fx-border-color: #616161;
    -fx-padding: 8px 16px; /* Padding */
    -fx-font-size: 14px; /* Tamaño de fuente para los botones */
}

/* Estilo de los botones secundarios */
.button.secondary {
    -fx-background-color: transparent;
    -fx-text-fill: #b1b1b1; /* Color de texto */
    -fx-border-width: 1px;
    -fx-border-color: #616161;
    -fx-padding: 8px 16px;
    -fx-font-size: 14px;
}

/* Estilo general del ComboBox de idiomas */
.language-selector {
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-border-color: transparent;
    -fx-text-fill: #b1b1b1;
    -fx-font-size: 12px;
}

/* Estilo para la celda visible (ítem seleccionado) */
.language-selector .cell:selected {
    -fx-background-color: transparent; /* Fondo transparente solo para la celda visible */
    -fx-text-fill: #b1b1b1;
}

.language-selector .list-view {
    -fx-border-color: transparent; /* Elimina el borde */
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-padding: 0; /* Elimina el padding */
}

.language-selector .list-view .list-cell {
    -fx-border-color: transparent; /* Elimina bordes entre las celdas */
    -fx-background-color: transparent; /* Fondo transparente */
}

.language-selector .combo-box-popup{
    -fx-border-color: transparent; /* Sin borde */
    -fx-background-color: #222222; /* Color del fondo del popup */
}

/* Estilo de las celdas dentro de la lista desplegable */
.language-selector .list-view .list-cell:filled {
    -fx-background-color: #303030; /* Fondo transparente en la lista desplegable */
    -fx-text-fill: #b1b1b1;
}

/* Estilo del ítem seleccionado en la lista desplegable */
.language-selector .list-view .list-cell:filled:selected,
.language-selector .list-view .list-cell:filled:selected:hover {
    -fx-background-color: #222222;  /* Gris oscuro */
    -fx-text-fill: #b1b1b1;  /* Color de texto gris claro */
}

/* Estilo del hover en los ítems de la lista desplegable */
.language-selector .list-view .list-cell:hover {
    -fx-background-color: #333333;  /* Gris más oscuro */
    -fx-text-fill: #b1b1b1;  /* Color de texto negro */
}

/* Estilo básico para el ProgressBar de fortaleza de contraseña */
.strength-bar {
    -fx-background-color: transparent; /* Fondo transparente por defecto */
    -fx-pref-height: 10px;  /* Altura del ProgressBar */
    -fx-pref-width: 100px;  /* Ancho del ProgressBar */
}

/* Estilo del ProgressBar según la fortaleza */
.strength-bar .bar {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;  /* Bordes redondeados para la barra de progreso */
    -fx-border-radius: 10px;
    -fx-border-color: transparent;  /* Eliminar borde de la barra */
}

/* Fondo de las barras de fortaleza */
.strength-bar.red,
.strength-bar.orange,
.strength-bar.yellowgreen,
.strength-bar.green {
    -fx-background-color: transparent;
}

/* Fondo del track para las barras de fortaleza */
.strength-bar.red .track,
.strength-bar.orange .track,
.strength-bar.yellowgreen .track,
.strength-bar.green .track {
    -fx-background-color: transparent;
    -fx-border-color: #434343;
    -fx-border-radius: 10px;  /* Bordes redondeados */
}

/* Colores específicos según la fortaleza de la contraseña */
.strength-bar.red .bar {
    -fx-background-color: tomato;  /* Barra roja para una contraseña débil */
}
.strength-bar.orange .bar {
    -fx-background-color: #ffa500;  /* Barra naranja para una contraseña media */
}
.strength-bar.yellowgreen .bar {
    -fx-background-color: yellowgreen;  /* Barra amarillo-verde para una contraseña fuerte */
}
.strength-bar.green .bar {
    -fx-background-color: green;  /* Barra verde para una contraseña muy fuerte */
}

/* Estilo para la barra de longitud en modo oscuro */
.length-bar .bar {
    -fx-background-radius: 10px; /* Bordes redondeados */
    -fx-border-radius: 10px;
    -fx-border-color: #333333;
}

/* Estilo del track */
.length-bar .track {
    -fx-background-color: #434343; /* Fondo oscuro para el track */
    -fx-pref-height: 5px;
}

/* Estilo del punto */
.length-bar .thumb {
    -fx-background-color: #535353; /* color */
    -fx-border-color: #333333;
    -fx-border-radius: 50%;
    -fx-pref-height: 15px;
    -fx-pref-width: 15px;
}

/* Estilo de los TextFields */
.text-field {
    -fx-background-color: #292929; /* Color de fondo gris oscuro */
    -fx-border-color: #434343;
    -fx-border-radius: 5px;
    -fx-text-fill: #b1b1b1; /* Color del texto en gris claro */
    -fx-border-width: 1px; /* Grosor del borde */
    -fx-padding: 5px; /* Espaciado interno */
    -fx-font-size: 14px; /* Tamaño de fuente */
    -fx-background-radius: 5px; /* Bordes redondeados */
    -fx-prompt-text-fill: #434343;
}

.generatedPasswordBox {
    -fx-background-color: #292929; /* Color de fondo */
    -fx-border-color: #434343;
    -fx-border-radius: 5px;
    -fx-text-fill: #b1b1b1; /* Color del texto en gris claro */
    -fx-font-size: 14px; /* Tamaño de fuente */
    -fx-background-radius: 5px; /* Bordes redondeados */
}

.label {
    -fx-text-fill: #b1b1b1; /* Color del texto en gris claro */
}

bold-label {
    -fx-text-fill: #b1b1b1; /* Color del texto en gris claro */
    -fx-font-weight: bold; /* Texto */
    -fx-font-size: 14px; /* Tamaño de fuente */
    -fx-font-family: "Helvetica Neue", sans-serif;  /* Fuente Helvetica Neue */
}

.strengthLabel {
    -fx-text-fill: inherit; /* Color del texto */
}

/* Estilo de los CheckBox */
.check-box {
    -fx-text-fill: #b1b1b1; /* Color del texto en gris claro */
}

.check-box:hover {
    -fx-cursor: hand;
}

/* Cambiar el color del cuadrado del CheckBox */
.check-box .box {
    -fx-background-color: #434343; /* Color del fondo del cuadrado */
    -fx-border-color: #616161; /* Color del borde del cuadrado */
    -fx-border-radius: 3px; /* Bordes redondeados */
    -fx-background-radius: 3px; /* Bordes redondeados */
}

/* Cambiar el color del tic del CheckBox */
.check-box:selected .box .mark {
    -fx-background-color: #b1b1b1; /* Color del tic */
}

.check-box .box .mark {
    -fx-background-color: transparent; /* Hacer el tic invisible por defecto */
}

.text-icon {
    -fx-fill: #b1b1b1 ; /* Color del texto en gris claro */
}

/* Estilo de los botones */
.button {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

/* Estilos para VBox */
.vbox {
    -fx-alignment: center; /* Alineación de los elementos en el centro */
}

/* Estilo del contenedor del Dialog */
.dialog-pane {
    -fx-padding: 10px; /* Espaciado alrededor del contenido */
    -fx-background-color: #222222; /* Color de fondo */
    -fx-border-color: transparent; /* Sin borde */
    -fx-border-width: 0; /* Grosor del borde a 0 */
    -fx-background-insets: 0; /* Eliminar insets que puedan causar el borde */
}

/* Barra de desplazamiento */
.scroll-bar {
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-border-radius: 10px;            /* Bordes redondeados */
    -fx-background-radius: 10px;        /* Bordes redondeados */
    -fx-pref-width: 8px;            /* Ancho de la barra de desplazamiento */
}

/* Estilo para el deslizante de la barra de desplazamiento (thumb) */
.scroll-bar .thumb {
    -fx-background-color: #434343;  /* Fondo gris oscuro para el thumb */
    -fx-background-radius: 10px;    /* Bordes redondeados */
}

/* Estilo de la tabla sin fondo */
.table-view {
    -fx-background-color: transparent;  /* Fondo transparente */
    -fx-focus-color: transparent;  /* Eliminar borde azul por foco en la tabla */
    -fx-faint-focus-color: transparent; /* Eliminar color tenue de foco */
    -fx-border-color: transparent;  /* Eliminar borde alrededor de la tabla */
}

/* Placeholder de la tabla */
.table-view .placeholder {
    -fx-alignment: top-left;
    -fx-padding: 0 0 0 3; /* Margen izquierdo de 3px */
}

/* filas */
.table-row-cell {
    -fx-pref-height: 40px;
    -fx-background-color: transparent;  /* Fondo transparente */
    -fx-border-color: #434343;  /* Línea separadora entre filas */
    -fx-border-width: 0 0 1px 0;  /* Solo borde inferior */
}

/* Celdas seleccionadas */
.table-row-cell:selected,
.table-cell:selected {
    -fx-background-color: #222222;
}

/* Estilo de las celdas (sin borde y fondo transparente) */
.table-cell {
    -fx-background-color: transparent;  /* Fondo transparente para las celdas */
    -fx-border-color: transparent;  /* Sin bordes */
}

/* Estilo de los Label dentro de cada fila (Descripción y URL) */
.description-label {
    -fx-font-size: 14px;  /* Tamaño de fuente normal para la descripción */
}

.url-label {
    -fx-font-size: 12px;  /* Tamaño de fuente más pequeño para la URL */
    -fx-text-fill: gray;  /* Color gris para la URL */
    -fx-padding: 0;  /* Sin espacio entre las etiquetas */
}

.combo-box:hover {
    -fx-cursor: hand;
}

/* ComboBox de selección de orden de contraseñas */
.sort-box {
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-max-width: 25px;
    -fx-max-height: 25px;
    -fx-min-width: 25px; /* Asegura que el combo-box no se haga más pequeño que 30px */
    -fx-min-height: 25px;
    -fx-padding: 0; /* Elimina cualquier padding */
}

/* Estilo para los iconos del combo-box de orden de contraseñas */
.sort-icon {
    -fx-fit-width: 18px; /* Asegura que la imagen se ajuste exactamente */
    -fx-fit-height: 18px;
    -fx-preserve-ratio: true; /* Mantiene la proporción de la imagen */
}

.sort-box .arrow-button {
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-padding: 0; /* Elimina cualquier padding */
}

.sort-box .arrow {
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-padding: 0; /* Elimina cualquier padding */
    -fx-shape: ""; /* Elimina la forma de la flecha */
}

.sort-box .combo-box-base {
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-padding: 0; /* Elimina cualquier padding */
}

.sort-box .combo-box-popup {
    -fx-background-color: #222222; /* Color del fondo del popup */
}

/* Estilo para los campos con error (bordes rojos) */
.error-border {
    -fx-border-color: tomato !important;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

/* Estilo para el label de campos obligatorios */
.mandatoryFieldsLabel {
    -fx-font-size: 12px;
    -fx-text-fill: tomato;
}

.passwords-filter-button {
    -fx-background-color: #292929; /* Fondo del botón */
    -fx-background-radius: 5px;
    -fx-border-color: #202020; /* Color del borde */
    -fx-border-width: 1px; /* Grosor del borde */
    -fx-border-radius: 5px; /* Bordes redondeados */
    -fx-text-fill: #616161; /* Color del texto */
    -fx-font-size: 14px; /* Tamaño de la fuente */
    -fx-padding: 8px 16px; /* Relleno interno */
    -fx-cursor: hand; /* Cambiar el cursor al pasar sobre el botón */
    -fx-background-insets: 0; /* Eliminar los insets del fondo */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0, 0, 1); /* Sombra sutil */
}

.passwords-filter-button .label {
    -fx-alignment: center; /* Alinear el texto al centro */
}

.passwords-filter-button:hover {
    -fx-background-color: #333333; /* Fondo del botón al pasar el ratón */
}

.selected-filter-button {
    -fx-border-color: #616161;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.counter-label {
    -fx-font-size: 25px; /* Tamaño de fuente más grande */
    -fx-font-weight: bold; /* Texto en negrita */
    -fx-text-fill: #616161; /* Color gris oscuro */
}

.counter-label-issue {
    -fx-font-size: 25px; /* Tamaño de fuente más grande */
    -fx-font-weight: bold; /* Texto en negrita */
    -fx-text-fill: #c8c8c8; /* Color más claro */
}

.password-security-status {
    -fx-background-color: #292929; /* Fondo del cuadro */
    -fx-background-radius: 5px;
    -fx-border-color: #202020; /* Color del borde */
    -fx-border-width: 1px; /* Grosor del borde */
    -fx-border-radius: 5px; /* Bordes redondeados */
    -fx-text-fill: #616161; /* Color del texto */
    -fx-font-size: 14px; /* Tamaño de la fuente */
    -fx-padding: 8px 10px; /* Relleno interno */
    -fx-cursor: hand; /* Cambiar el cursor al pasar sobre el botón */
    -fx-background-insets: 0; /* Eliminar los insets del fondo */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0, 0, 1); /* Sombra sutil */
}

.delete-dialog {
    -fx-background-color: #292929;
    -fx-border-color: transparent;
    -fx-padding: 10px;
}

.delete-dialog .header-panel {
    -fx-text-fill: #c8c8c8;
    -fx-background-color: #292929;
    -fx-border-color: #434343; /* Línea separadora */
    -fx-border-width: 0 0 1px 0; /* Solo borde inferior */
}

.delete-dialog .content {
    -fx-text-fill: #b1b1b1;
}

/* Botón "OK" con color más claro */
.delete-dialog .button-bar .button:default {
    -fx-background-color: #616161; /* Color más claro */
    -fx-border-color: #616161;
    -fx-text-fill: #202020;
    -fx-background-radius: 5px;
    -fx-padding: 8px 16px; /* Padding */
    -fx-font-size: 14px; /* Tamaño de fuente para los botones */
}

/* Botón "Cancel" con color más oscuro */
.delete-dialog .button-bar .button {
    -fx-background-color: transparent; /* Color más oscuro */
    -fx-text-fill: #b1b1b1;
    -fx-border-color: #616161;
    -fx-background-radius: 5px;
    -fx-padding: 8px 16px; /* Padding */
    -fx-font-size: 14px; /* Tamaño de fuente para los botones */
}

.button-bar-separator {
    -fx-background-color: #616161;
    -fx-max-width: 1px;
    -fx-pref-width: 1px;
}

.button.auth-section {
    -fx-background-color: transparent;
    -fx-text-fill: #b1b1b1; /* Color del texto */
    -fx-border-color: transparent;
    -fx-border-width: 0 0 1px 0; /* Only bottom border */
    -fx-border-radius: 0;
    -fx-border-style: solid;
}

.button.auth-section-selected {
    -fx-border-color: #b1b1b1;
    -fx-border-radius: 0;
}

.error-label {
    -fx-text-fill: tomato;
    -fx-font-size: 12px;
}
