/* Estilo básico para el ProgressBar */
.progress-bar {
    -fx-background-color: transparent; /* Fondo transparente por defecto */
    -fx-pref-height: 10px;  /* Altura del ProgressBar */
    -fx-pref-width: 300px;  /* Ancho del ProgressBar */
}

/* Estilo del track */
.progress-bar .track {
    -fx-background-color: transparent; /* Fondo transparente por defecto */
    -fx-border-color: transparent;  /* Eliminar bordes del track */
    -fx-background-radius: 10px;  /* Bordes redondeados */
}

.progress-bar .bar {
    -fx-background-color: black;
}