/* Estilo básico para el ProgressBar de splash screen */
.loading-bar {
    -fx-background-color: transparent; /* Fondo transparente por defecto */
    -fx-pref-height: 10px;  /* Altura del ProgressBar */
    -fx-pref-width: 300px;  /* Ancho del ProgressBar */
}

/* Estilo del track */
.loading-bar .track {
    -fx-background-color: transparent; /* Fondo transparente por defecto */
    -fx-border-color: transparent;  /* Eliminar bordes del track */
    -fx-background-radius: 10px;  /* Bordes redondeados */
}

.loading-bar .bar {
    -fx-background-color: black;
}

/* Botones de icono */
.icon-button {
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-max-width: 20px;
    -fx-max-height: 20px;
    -fx-min-width: 20px; /* Asegura que el botón no se haga más pequeño que 20px */
    -fx-min-height: 20px;
    -fx-padding: 0; /* Elimina cualquier padding */
}

.icon-button:hover {
    -fx-cursor: hand; /* Cambia el cursor al pasar el ratón */
}

/* Estilo para los iconos */
.icon {
    -fx-fit-width: 15px; /* Asegura que la imagen se ajuste exactamente */
    -fx-fit-height: 15px;
    -fx-preserve-ratio: true; /* Mantiene la proporción de la imagen */
}

.button:hover {
    -fx-cursor: hand;
}

/* Estilo de los botones primarios */
.button.primary {
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
    -fx-border-width: 1px;
    -fx-border-color: #000000;
    -fx-padding: 8px 16px; /* Padding */
    -fx-font-size: 14px; /* Tamaño de fuente para los botones */
}

/* Estilo de los botones secundarios */
.button.secondary {
    -fx-background-color: transparent;
    -fx-text-fill: #000000; /* Color de texto negro */
    -fx-border-width: 1px;
    -fx-border-color: #000000;
    -fx-padding: 8px 16px;
    -fx-font-size: 14px;
}

.combo-box:hover {
    -fx-cursor: hand;
}

/* Estilo general del ComboBox de idiomas */
.language-selector {
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-font-size: 12px;
}

.language-selector .list-view {
    -fx-border-color: transparent; /* Elimina el borde */
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-padding: 0; /* Elimina el padding */
}

.language-selector .combo-box-popup{
    -fx-border-color: transparent; /* Sin borde */
    -fx-background-color: #e1e1e1; /* Color del fondo del popup */
}

/* Estilo para la celda visible (ítem seleccionado) */
.language-selector .cell:selected {
    -fx-background-color: transparent; /* Fondo solo para la celda visible */
}

/* Estilo de las celdas dentro de la lista desplegable */
.language-selector .list-view .list-cell:filled {
    -fx-background-color: #f4f4f4; /* Fondo en la lista desplegable */
}

/* Estilo del ítem seleccionado en la lista desplegable */
.language-selector .list-view .list-cell:filled:selected,
.language-selector .list-view .list-cell:filled:selected:hover {
    -fx-background-color: #d9d9d9;  /* Gris claro */
    -fx-text-fill: #000000;  /* Color de texto negro */
}

/* Estilo del hover en los ítems de la lista desplegable */
.language-selector .list-view .list-cell:hover {
    -fx-background-color: #f0f0f0;  /* Gris claro más suave */
    -fx-text-fill: #000000;  /* Color de texto negro */
}

/* Estilo básico para el ProgressBar de fortaleza de contraseña */
.strength-bar {
    -fx-background-color: transparent; /* Fondo transparente por defecto */
    -fx-pref-height: 10px;  /* Altura del ProgressBar */
    -fx-pref-width: 100px;  /* Ancho del ProgressBar */
}

/* Ocultar el borde no deseado del ProgressBar */
.strength-bar .track {
    -fx-border-color: transparent;  /* Eliminar bordes del track */
    -fx-background-radius: 10px;  /* Bordes redondeados */
    -fx-border-radius: 10px; /* Bordes redondeados */
}

/* Estilo del ProgressBar según la fortaleza */
.strength-bar .bar {
    -fx-background-radius: 10px;  /* Bordes redondeados para la barra de progreso */
    -fx-border-radius: 10px;
    -fx-border-color: transparent;  /* Eliminar borde de la barra */
}

/* Colores específicos según la fortaleza de la contraseña */
.strength-bar.red .bar {
    -fx-background-color: tomato;  /* Barra roja para una contraseña débil */
}
.strength-bar.orange .bar {
    -fx-background-color: orange;  /* Barra naranja para una contraseña media */
}
.strength-bar.yellowgreen .bar {
    -fx-background-color: yellowgreen;  /* Barra amarillo-verde para una contraseña fuerte */
}
.strength-bar.green .bar {
    -fx-background-color: green;  /* Barra verde para una contraseña muy fuerte */
}

/* Estilo del punto */
.length-bar .thumb {
    -fx-border-color: #c8c8c8; /* Color del borde */
    -fx-border-radius: 50%;
    -fx-pref-height: 15px;
    -fx-pref-width: 15px;
    -fx-focus-color: transparent; /* Eliminar borde azul al enfocar */
    -fx-faint-focus-color: transparent; /* Eliminar color tenue de foco */
}

/* Estilo de los TextFields */
.text-field {
    -fx-background-color: #ffffff; /* Fondo */
    -fx-border-color: #c8c8c8;
    -fx-border-radius: 5; /* Bordes redondeados */
    -fx-text-fill: #000000; /* Color del texto en negro */
    -fx-border-width: 1px; /* Grosor del borde */
    -fx-padding: 5px; /* Espaciado interno */
    -fx-font-size: 14px; /* Tamaño de fuente */
    -fx-background-radius: 5px; /* Bordes redondeados */
    -fx-prompt-text-fill: #c8c8c8;
}

.generatedPasswordBox {
    -fx-border-color: #D5D5D5;
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 5;
    -fx-text-fill: #616161; /* Color del texto en gris claro */
    -fx-font-size: 14px; /* Tamaño de fuente */
    -fx-background-radius: 5px; /* Bordes redondeados */
}

/* Estilo de los botones */
.button {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

/* Estilos para VBox */
.vbox {
    -fx-alignment: center; /* Alineación de los elementos en el centro */
}

/* Estilo del contenedor del Dialog */
.dialog-pane {
    -fx-padding: 10px; /* Espaciado alrededor del contenido */
}

/* Barra de desplazamiento */
.scroll-bar {
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-border-radius: 10px;            /* Bordes redondeados */
    -fx-background-radius: 10px;        /* Bordes redondeados */
    -fx-pref-width: 8px;            /* Ancho de la barra de desplazamiento */
}

/* Estilo para el deslizante de la barra de desplazamiento (thumb) */
.scroll-bar .thumb {
    -fx-background-color: #D5D5D5;  /* Fondo gris oscuro para el thumb */
    -fx-background-radius: 10px;    /* Bordes redondeados */
}

/* Estilo de la tabla sin fondo */
.table-view {
    -fx-background-color: transparent;  /* Fondo transparente */
    -fx-focus-color: transparent;  /* Eliminar borde azul por foco en la tabla */
    -fx-faint-focus-color: transparent; /* Eliminar color tenue de foco */
    -fx-border-color: transparent;  /* Eliminar borde alrededor de la tabla */
}

/* Placeholder de la tabla */
.table-view .placeholder {
    -fx-alignment: top-left;
    -fx-padding: 0 0 0 3; /* Margen izquierdo de 3px */
}

/* filas */
.table-row-cell {
    -fx-pref-height: 40px;
    -fx-background-color: transparent;  /* Fondo transparente */
    -fx-border-color: #d5d5d5;  /* Línea separadora entre filas */
    -fx-border-width: 0 0 1px 0;  /* Solo borde inferior */
}

/* Texto de las celdas seleccionadas */
.table-row-cell:selected .text,
.table-cell:selected .text {
    -fx-fill: black;
}

/* Celdas seleccionadas */
.table-row-cell:selected,
.table-cell:selected {
    -fx-background-color: #d5d5d5;
}

/* Estilo de las celdas (sin borde y fondo transparente) */
.table-cell {
    -fx-background-color: transparent;  /* Fondo transparente para las celdas */
    -fx-border-color: transparent;  /* Sin bordes */
}

/* Estilo de los Label dentro de cada fila (Descripción y URL) */
.description-label {
    -fx-font-size: 14px;  /* Tamaño de fuente normal para la descripción */
}

.url-label {
    -fx-font-size: 12px;  /* Tamaño de fuente más pequeño para la URL */
    -fx-text-fill: gray;  /* Color gris para la URL */
    -fx-padding: 0;  /* Sin espacio entre las etiquetas */
}

/* ComboBox de selección de orden de contraseñas */
.sort-box {
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-max-width: 25px;
    -fx-max-height: 25px;
    -fx-min-width: 25px; /* Asegura que el combo-box no se haga más pequeño que 30px */
    -fx-min-height: 25px;
    -fx-padding: 0; /* Elimina cualquier padding */
}

/* Estilo para los iconos del combo-box de orden de contraseñas */
.sort-icon {
    -fx-fit-width: 18px; /* Asegura que la imagen se ajuste exactamente */
    -fx-fit-height: 18px;
    -fx-preserve-ratio: true; /* Mantiene la proporción de la imagen */
}

.sort-box .arrow-button {
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-padding: 0; /* Elimina cualquier padding */
}

.sort-box .arrow {
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-padding: 0; /* Elimina cualquier padding */
    -fx-shape: ""; /* Elimina la forma de la flecha */
}

.sort-box .combo-box-base {
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-padding: 0; /* Elimina cualquier padding */
}

.sort-box .combo-box-popup {
    -fx-background-color: #ffffff; /* Color del fondo del popup */
}

/* Estilo para los campos con error (bordes rojos) */
.error-border {
    -fx-border-color: tomato !important;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

/* Estilo para el label de campos obligatorios */
.mandatoryFieldsLabel {
    -fx-font-size: 12px;
    -fx-text-fill: tomato;
    -fx-font-family: "Helvetica Neue", sans-serif;  /* Fuente Helvetica Neue */
}

.passwords-filter-button {
    -fx-background-color: #f2f2f2; /* Fondo del botón */
    -fx-background-radius: 5px;
    -fx-border-color: #d3d3d3; /* Color del borde */
    -fx-border-width: 1px; /* Grosor del borde */
    -fx-border-radius: 5px; /* Bordes redondeados */
    -fx-text-fill: #000000; /* Color del texto */
    -fx-font-size: 14px; /* Tamaño de la fuente */
    -fx-padding: 8px 16px; /* Relleno interno */
    -fx-cursor: hand; /* Cambiar el cursor al pasar sobre el botón */
    -fx-background-insets: 0; /* Eliminar los insets del fondo */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0, 0, 1); /* Sombra sutil */
}

.passwords-filter-button .label {
    -fx-alignment: center; /* Alinear el texto al centro */
}

.passwords-filter-button:hover {
    -fx-background-color: #e6e6e6; /* Fondo del botón al pasar el ratón */
}

.counter-label {
    -fx-font-size: 25px; /* Tamaño de fuente más grande */
    -fx-font-weight: bold; /* Texto en negrita */
    -fx-text-fill: #cccccc; /* Color gris oscuro */
}

.counter-label-issue {
    -fx-font-size: 25px; /* Tamaño de fuente más grande */
    -fx-font-weight: bold; /* Texto en negrita */
    -fx-text-fill: #000000; /* Color negro */
}

.password-security-status {
    -fx-background-color: #f2f2f2; /* Fondo del botón */
    -fx-background-radius: 5px;
    -fx-border-color: #d3d3d3; /* Color del borde */
    -fx-border-width: 1px; /* Grosor del borde */
    -fx-border-radius: 5px; /* Bordes redondeados */
    -fx-text-fill: #000000; /* Color del texto */
    -fx-font-size: 14px; /* Tamaño de la fuente */
    -fx-padding: 8px 10px; /* Relleno interno */
    -fx-cursor: hand; /* Cambiar el cursor al pasar sobre el botón */
    -fx-background-insets: 0; /* Eliminar los insets del fondo */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0, 0, 1); /* Sombra sutil */
}

.delete-dialog {
    -fx-border-color: transparent;
    -fx-padding: 10px;
}

.delete-dialog .header-panel {
    -fx-background-color: transparent;
    -fx-border-color: #c8c8c8; /* Línea separadora */
    -fx-border-width: 0 0 1px 0; /* Solo borde inferior */
}

/* Botón "OK" con color más claro */
.delete-dialog .button-bar .button:default {
    -fx-background-color: #000000;
    -fx-border-color: #000000;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 5px;
    -fx-padding: 8px 16px; /* Padding */
    -fx-font-size: 14px; /* Tamaño de fuente para los botones */
}

/* Botón "Cancel" con color más oscuro */
.delete-dialog .button-bar .button {
    -fx-background-color: transparent; /* Color más oscuro */
    -fx-text-fill: #000000;
    -fx-border-color: #000000;
    -fx-background-radius: 5px;
    -fx-padding: 8px 16px; /* Padding */
    -fx-font-size: 14px; /* Tamaño de fuente para los botones */
}

.check-box:hover {
    -fx-cursor: hand;
}

.button-bar-separator {
    -fx-background-color: #616161;
}