/* Estilo básico para el ProgressBar */
.progress-bar {
    -fx-background-color: transparent; /* Fondo transparente por defecto */
    -fx-pref-height: 10px;  /* Altura del ProgressBar */
    -fx-pref-width: 100px;  /* Ancho del ProgressBar */
}

/* Ocultar el borde no deseado del ProgressBar */
.progress-bar .track {
    -fx-border-color: transparent;  /* Eliminar bordes del track */
    -fx-background-radius: 10px;  /* Bordes redondeados */
    -fx-border-radius: 10px; /* Bordes redondeados */
}

/* Estilo del ProgressBar según la fortaleza */
.progress-bar .bar {
    -fx-background-radius: 10px;  /* Bordes redondeados para la barra de progreso */
    -fx-border-radius: 10px;
    -fx-border-color: transparent;  /* Eliminar borde de la barra */
}

/* Colores específicos según la fortaleza de la contraseña */
.progress-bar.red .bar {
    -fx-background-color: red;  /* Barra roja para una contraseña débil */
}
.progress-bar.orange .bar {
    -fx-background-color: orange;  /* Barra naranja para una contraseña media */
}
.progress-bar.yellowgreen .bar {
    -fx-background-color: yellowgreen;  /* Barra amarillo-verde para una contraseña fuerte */
}
.progress-bar.green .bar {
    -fx-background-color: green;  /* Barra verde para una contraseña muy fuerte */
}
